/* FORM STYLE */

input, label, textarea {
  display:block
}

#contact {
	margin-top:40px;
}

input {
	background: #ffffff;
	border: 1px solid #5f6971;
	margin:auto;
	width:400px;
	height:40px;
	font-family:'TeXGyreAdventorRegular';
	font-size:14px;
	color:#5f6971;
	margin-top:6px;
	margin-bottom:10px;
}

textarea {
	background: #ffffff;
	border: 1px solid #5f6971;
	margin:auto;
	width:400px;
	max-width:400px;
	height:160px;
	font-family:'TeXGyreAdventorRegular';
	font-size:14px;
	color:#5f6971;
	margin-top:6px;
	margin-bottom:20px;
}

label {
	text-align:left;
	margin-left:198px;
	font-family:'TeXGyreAdventorRegular';
	font-size:16px;
	color:#5f6971;
	font-size:16px;
}

input:focus, textarea:focus {
	background: #e7f5f4;
	border: 1px solid #008789;
   	box-shadow: 0 0 8px 1px #68c3b7;
   	outline: none;
}

input[type="submit"] {
	display:block;
	background: url('../images/submitbutton.png'); 
	width:150px;
	height:40px;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	border:none;
	cursor:pointer;
}

input[type="submit"]:hover {
	background-position:0 42px;
}


  