/* FORM STYLE */

input, label, textarea {
  display:block
}

input {
	background: #ffffff;
	border: 1px solid #5f6971;
	margin:auto;
	width:400px;
	height:40px;
	font-family:'TeXGyreAdventorRegular';
	font-size:14px;
	color:#5f6971;
}

textarea {
	background: #ffffff;
	border: 1px solid #5f6971;
	margin:auto;
	width:400px;
	height:160px;
	font-family:'TeXGyreAdventorRegular';
	font-size:14px;
	color:#5f6971;
}

label {
	text-align:left;
	margin-left:200px;
	font-family:'TeXGyreAdventorRegular';
	font-size:16px;
	color:#5f6971;
	font-size:16px;
}

input:focus, textarea:focus {
	background: #e7f5f4;
	outline: 1px solid #008789;
    	box-shadow: 0 0 3px 1px #68c3b7;
}

input[type="submit"] {
	background: url('../images/form/submitbutton.png') no-repeat center; 
	width:152px;
	height:45px;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	border:none;
	cursor:pointer;
}


  