#slider img {
	margin-top: 180px;
}

#portfolio .orbit-bullets li {
	display: none;
}

#portfolio .orbit-bullets li.has-thumb {
  display: block;
	margin: 0;
	margin-right: 17px;
}

#portfolio .orbit-bullets {
	position: absolute;
	z-index: 1000;
	list-style: none;
	width: 820px;
	height: 100px;
	margin: 0;
	top: 40px;
	left: -4px;
	padding: 0;
}

#portfolio .orbit-bullets li.has-thumb {
	background: none;
	width: 100px;
	height: 100px;
}

#portfolio .orbit-bullets li.active.has-thumb {
  border: none !important;
}

#portfolio div.slider-nav span {
	top: 364px;
	margin: 0;
}

#portfolio div#slider.orbit {
	overflow: visible;
}

#portfolio .orbit-wrapper .orbit-caption {
background: none;
z-index: 1000;
color: #5f6971;
font-family:'TeXGyreAdventorRegular';
text-align: center;
padding: 7px 0;
font-size: 13px;
position: absolute;
right: 0;
bottom: -165px;
width: 100%;
}