#slider img {
	margin-top: 100px;
}
.orbit-bullets li {
	display: none;
}
.orbit-bullets li.has-thumb {
  display: block;
}
#portfolio .orbit-bullets {
	position: absolute;
	z-index: 1000;
	list-style: none;
	width: 793px;
	height: 100px;
	margin: 0;
	top: 0;
	left: 5px;
	padding: 0;
}
#portfolio .orbit-bullets li.has-thumb {
	background: none;
	width: 100px;
	height: 100px;
}
#portfolio .orbit-bullets li.active.has-thumb {
  border: none !important;
}
#portfolio div.slider-nav span {
	margin: 0;
}
#portfolio div#slider.orbit {
	overflow: visible;
}