#slider img {
	margin-top: 100px;
}
.orbit-bullets li {
	display: none;
}
.orbit-bullets li.has-thumb {
  display: block;
}
.orbit-bullets {
	position: absolute;
	z-index: 1000;
	list-style: none;
	top: 0;
	left: 50%;
	margin-left: -50px;
	padding: 0;
}