/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*FONTS*/

@font-face {
    font-family: 'TeXGyreAdventorRegular';
    src: url('../fonts/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor-regular-webfont.svg#TeXGyreAdventorRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TeXGyreAdventorBold';
    src: url('../fonts/texgyreadventor-bold-webfont.eot');
    src: url('../fonts/texgyreadventor-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor-bold-webfont.svg#TeXGyreAdventorBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HEADER */

body {
	background-image:url('../images/background_tile.png');
	background-repeat:repeat;
	background-attachment:fixed;
}

#header-block {
	background-image:url('../images/top_block.png');
	background-repeat:repeat-x;
	height:193px;
}

#header-content {
	margin:auto;
	width:800px;
	height:193px;
}

#header-left {
	position:absolute;
	top:20px;
	width:300px;
}

#header-left a {
 	display:block;  
 	width:111px; 
 	height:124px;  
 	background:url('../images/logo.png') no-repeat top left; 
 	text-indent:-9999px;
 	}

#name {
	position:absolute;
	top:30px;
	left:120px;
}

#name p {
	font-family:'TeXGyreAdventorBold';
	color:#006464;	
	font-size:22px;
}	

#name em {
	font-family:'TeXGyreAdventorRegular';
	color:#006464;
	font-size:22px;
}

#social-media {
	position:relative;
	float:right;
	top:20px;
}

#social-media a {
	margin:7px;
}

#main-nav {
	position:relative;
	top:100px;
}

#main-nav ul {
	position:absolute;
	right:0;
}

#main-nav li {
	float:left;
	margin:7px;
}

#main-nav a{
	text-decoration:none;
	font-family:'TeXGyreAdventorRegular';
	color:#5f6971;
	font-size:18px;
}

/* ABOUT */

#about {
	clear:both;
	margin:auto;
	width:800px;
	position:relative;
}

.section-heading {
	font-family:'TeXGyreAdventorBold';		
	color:#006464;
	font-size:36px;
}

#photo{
	float:left;
	position:relative;
	left:-20px;
}

#about-text {
	float:right;
	width:435px;
	height:325px;
	position:absolute;
	right:8px;
	top:46px;
}

#dynamic {
	font-family:'TeXGyreAdventorBold';		
	color:#008789;
	text-transform:uppercase;
	font-size:43px;
	margin-right:5px;
}

#ambitious {
	font-family:'TeXGyreAdventorRegular';		
	color:#68c3b7;
	font-size:48.35px;
}

#creative {
	font-family:'TeXGyreAdventorRegular';		
	color:#006464;
	text-transform:uppercase;
	font-size:96px;
	line-height:.75em;
}

#curious {
	font-family:'TeXGyreAdventorRegular';		
	color:#68c3b7;
	font-size:42.75px;
	margin-right:5px;
}

#innovative {
	font-family:'TeXGyreAdventorBold';		
	color:#008789;
	text-transform:uppercase;
	font-size:48px;
}

#contemporary {
	font-family:'TeXGyreAdventorRegular';		
	color:#68c3b7;
	text-transform:uppercase;
	font-size:52.5px;
}

#dedicated {
	font-family:'TeXGyreAdventorBold';		
	color:#006464;
	text-transform:uppercase;
	font-size:36.49px;
	margin-right:7px;
}

#experienced {
	font-family:'TeXGyreAdventorRegular';		
	color:#008789;
	font-size:38.25px;
}

#passionate {
	font-family:'TeXGyreAdventorRegular';		
	color:#008789;
	text-transform:uppercase;
	font-size:75.49px;
	line-height:.9em;
}

/* BREAK */

.break {
	clear:both;
	margin:auto;
	width:800px;
}

/* PORTFOLIO */

#portfolio {
	clear:both;
	margin:auto;
	width:800px;
	height: 694px;
	overflow: hidden;
}

/* CONTACT */

#contact {
	clear:both;
	margin:auto;
	width:800px;
}

#contact-content {
	text-align:center;
}

/* EXPERIENCE */

#experience {
	clear:both;
	margin:auto;
	width:800px;
	height:100px;
}

#experience-content {
	float:left;
}

#experience-text1 {
	font-family:'TeXGyreAdventorRegular';
	font-size:24px;
	color:#68c3b7;
}

#experience-text1 a {
	text-decoration:none;
	font-family:'TeXGyreAdventorBold';
	font-size:24px;
	color:#006464;	
}

#experience-text2 {
	font-family:'TeXGyreAdventorRegular';
	font-size:16px;
	color:#5f6971;
}

/* FOOTER */

#footer-block {
	background-image:url('../images/bottom_block.png');
	background-repeat:repeat-x;
	height:100px;
}

#footer-content {
	clear:both;
	margin:auto;
	width:800px;
}

#footer {
	position:relative;
}

#footer p {
	position:absolute;
	left:0;
	bottom:-63px;
	text-decoration:none;
	font-family:'TeXGyreAdventorRegular';
	color:#68c3b7;
	font-size:18px;
}

#footer-nav {
	float:right;
}

#footer-nav ul {
	position:absolute;
	right:0;
	bottom:-72px;
}

#footer-nav li {
	float:left;
	margin:7px;
}

#footer-nav a{
	text-decoration:none;
	font-family:'TeXGyreAdventorRegular';
	color:#5f6971;
	font-size:18px;
}
